.container{
  margin-top: 100px;
  text-align: center;
}
.btn-group{
  width: 300px;
  margin-left: 35%;
}
.btn-group button{
  background-color: white;
  border: 2px solid black;
  color: black;
  text-align: center;
  font-size: 35px;
  cursour: pointer;
  float: left;
  height: 100px;
  width: 100px;
}
.btn-group:after{
  content: "";
    clear: both;
    display: table;
}

.btn-group button:hover{
  background-color: gray;
}
